<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
	'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
      <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
	<a href="http://www.linkedin.com/in/yilan-dong">Click to view my LinkedIn Profile</a>
	<nav>
	  <ul class="nav navbar-nav navbar-right">
	    <!--<li><%= link_to "Home", '#' %></li>-->
	    <a href="https://csc324-project.herokuapp.com/">Home page of Yilan's Project </a>
	    <a href="https://csc324-project.herokuapp.com/secondpage/second">Here's another page </a>
	    <a href="https://csc324-project.herokuapp.com/thirdpage/third">Here's all that I have :/ </a>
	    <!--<li><%= link_to "Second page", 'secondpage/second' %></li>-->
	    <!--<li><%= link_to "Third Page", 'thirdpage/third' %></li>-->
	  </ul>
	</nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <%= image_tag("kitten.jpg") %>
  </body>
</html>
