<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="pic_info">
      <h1>
	<%= gravatar_for @user %>
      </h1>
      <h2>
	<%= @user.name %>
      </h2>
      <h3>
	You have been paired with this <%= @animalType %> !
      </h3>
    </section>
    <%= image_tag(@picInfo, alt: "Image of pet you were paired with") %>
  </aside>
  <div class="column right">
    <h1></h1>
    <%= link_to "Click here for pictures of other cats", second_path, class: "btn btn-lg btn-primary"%>
    <p></p>
    <%= link_to "Click here for view pictures of other dogs", third_path, class: "btn btn-lg btn-primary"%>
  </div>
</div>
