<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="pic_info">
      <h1>
	<%= gravatar_for @user %>
      </h1>
      <h2>
	<%= @user.name %>
      </h2>
      <h3>
	You have been paired with this <%= @animalType %> !
      </h3>
    </section>
    <%= image_tag(@picInfo, alt: "Image of pet you were paired with") %>
  </aside>
  <div class="column right">
    <h1></h1>
    <%= link_to "Click here for pictures of other cats", second_path, class: "btn btn-lg btn-primary"%>
    <p></p>
    <%= link_to "Click here for view pictures of other dogs", third_path, class: "btn btn-lg btn-primary"%>
    <div>
      <p1><br>Get a pet if you could!
	<br><br>They make sure you’re never lonely. If you live by yourself, or your partner works different shift patterns to you, it can get awfully lonely at home – unless you have a pet, of course! Cats and dogs make great companions – they’ll always be waiting for you to come home and they’ll be happy to lend an ear should you want to moan about the awful day you’ve had. Plus, most of the time, they’re up for a snuggle on the sofa.
	<br><br>They lower your stress levels. Modern life is stressful and high levels of anxiety can lead to numerous health problems. Luckily, pets can really help us relax – stroking your cat or simply watching fish swim around in a tank can make your worries melt away. Previous studies have proven that pet owners tend to have lower blood pressure, cholesterol and triglyceride levels than people who don’t own a pet. That means having a furry pal can decrease the chances of suffering a heart attack later in life.
	<br><br>For more reasons you should get a pet, visit <%= link_to "Animal Friend", 'https://www.animalfriends.co.uk/blog/10-benefits-of-owning-a-pet/' %>.
      </p1>
    </div>
  </div>
</div>
