<% provide(:title, "Dog Pics Page") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <h1>Dog pictures here!</h1>
  <div class="row">
    <div class="column left center img">
      <%= image_tag(@path, alt: "Cute Dog Image") %>
    </div>
    <div class="column right">
      <%= link_to "New Cat Pic", second_path, class: "btn btn-lg btn-primary" %>
      <p></p>
      <%= link_to "New Dog Pic", third_path, class: "btn btn-lg btn-primary" %>
      <p></p>
      <div>
	<p1><br>How might owning a dog improve your health? There are a few possible explanations for the connection.
	<br><br>For one thing, healthy people are more likely to get a dog. "It may be simply that healthier people are the ones that have pets, not that having a pet actually leads to or causes reduction in cardiovascular risk," Dr. Glenn Levine, professor at Baylor College of Medicine and member of the committee that wrote the AHA statement, said in a news release.
	<br><br>Also, having a dog keeps you more active. Walking your dog can help you meet the daily exercise requirements the government recommends. In one study of more than 5,200 Japanese adults, dog owners were 54% more likely to get the recommended physical activity than non-owners. That extra exercise may be why pet owners tend to have lower blood pressure and cholesterol levels.
	<br><br>For more informations, see <%= link_to "Pets and your health", 'https://www.health.harvard.edu/staying-healthy/why-having-a-pet-is-good-for-your-health' %>.
	</p1>
      </div>
    </div>
  </div>
</html>
